language: bash
services:
- docker
script: bash start.sh
before_install:
- openssl aes-256-cbc -K $encrypted_36f9afd019b4_key -iv $encrypted_36f9afd019b4_iv
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  skip_cleanup: true
  script: sh ./deploy.sh
  on:
    branch: master