language: bash
services:
- docker
addons:
  ssh_known_hosts: 139.99.202.246
before_install:
- openssl aes-256-cbc -K $encrypted_36f9afd019b4_key -iv $encrypted_36f9afd019b4_iv
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- chmod 600 /tmp/deploy_rsa
- eval `ssh-agent -s`
- ssh-add /tmp/deploy_rsa
# script: bash start.sh
install: docker-compose up -d
deploy:
  provider: script
  skip_cleanup: true
  script: sh ./deploy.sh
  on:
    branch: master